.error {
    background: #fcc;
    color: #903;
    margin: 1em 0;
    padding: 1em;
    width: 100ex;
}

.error .title {
    background: #933;
    color: white;
    margin: -1em -1em 1em -1em;
    padding: 1ex;
}

.header {
    border: 1px solid black;
    border-radius: 0.5em;
    background: #369;
    padding: 1ex;
}

.header h1 {
    text-align: center;
    font-size: 200%;
    color: white;
    margin: 0 0 0.4em 0;
}

.header table {
    margin: 0 auto;
}

.header th {
    width: 20ex;
    padding: 0 2em;
    background: #8ac;
}

.header a, .header th {
    color: #00c;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

div.nav {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 2em;
}
ul.nav {
  width: 100%;
  list-style-type: none;
}
ul.nav li {
  margin: 0.4em 2em;
  float: left;
}
ul.nav li.u-pull-right {
  float: right;
}
ul.nav li a {
  text-decoration: none;
}
